/* Kassa */ 
@font-face {
    font-family: 'AmaticaSC';
    src: url('fonts/AmaticaSC.eot'); /* IE9 Compat Modes */
    src: url('fonts/AmaticaSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/AmaticaSC.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/AmaticaSC.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/AmaticaSC.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/AmaticaSC.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

#KassaHeader {
    display: inline-block;
    font-family: Amatic SC;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    width: 58px;
    height: 50px;
    margin-left: 5%;
    top: 167px;
}


#InputForm {
    font-family: Poppins;
    display:inline-block;
    background-color: #E4E0D7;
    padding-left: 45px;
    padding-right: 100px;
    padding-bottom: 48px;
    padding-top: 54px;
    width: 589px;
    height: auto;
    left: 5%;
    margin-top: 222px;
    margin-bottom: 20px;
}
.Kontaktuppgifter {
    width: 135px;
    height: 22px;
    left: 420px;
    top: 338px;
}
#email{
    width: 444px;
    height: 50px;
    left: 420px;
    top: 370px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.leveransadress{
    width: 98px;
    height: 22px;
    left: 420px;
    top: 516px;
}
#firstName {
    width: 217px;
    height: 50px;
    left: 420px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
#lastName {
    width: 220px;
    height: 50px;
    left: 423px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}

#Postnummer {
    width: 217px;
    height: 50px;
    left: 420px;
    top: 738px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}

#pickUp {
    width: 220px;
    height: 50px;
    left: 423px;
    top: 738px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
#telefonnummer {
    width: 444px;
    height: 50px;
    left: 420px;
    top: 858px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.Betalningsinformation {
    width: 150px;
    height: 22px;
    left: 420px;
    top: 965px;

}
#pass {
    width: 444px;
    height: 50px;
    margin-bottom: 15px;
    
}
#rePass {
    width: 444px;
    height: 50px;
    margin-bottom: 15px;
}
#kortNum {
    width: 470px;
    height: 50px;
    left: 420px;
    top: 992px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
#mmåå {
  width: 216px;
  height: 50px;
  left: 288px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}
#CVC {
  width: 220px;
  height: 50px;
  left: 295px;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 15px;
}

#Betala {
    border: none;
    color: white;
    background:  #6642B1;;;
    width: 180px;
    height: 67px;
    left: 528px;
    top: 1364px;
    border-radius: 30px;
    font-size: 12px;
    
}
#return {
  width: 142px;
  height: 19px;
  left: 345px;
  top: 1388px;
  margin-top: 43px;
  margin-right: 40px;
  font-family: Halant;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  text-decoration-line: underline;
  color: black;

}
#VarukorgLitle {
    font-family: Poppins;
    display: inline-block;
    background-color: #E4E0D7;
    width: 105px;
    height: 600px;
    left: 6.5%;
    top: 222px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0;
}

#miniCartHeader {
    padding-top: 10px;
    padding-bottom: 10px;
}

#miniCartTotal {
    display: inline;
}

.miniCartProdImg {
    width: 60%;
    height: 90%;
}

#Buttons{
display:inline-flex;
padding: 0;
margin-bottom: 276px;
margin-left:15%;
}

#editButton {
    background: none;
    color: black;
    border: none;
    margin-right: 20px;
    padding-right: 10px;
    float: right;
    cursor: pointer;
}
  
#labelkassa1{
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
}
#labelkassa2{
    font-family: Poppins;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
}
#labelKassa3{
    font-family: Poppins;
    font-size: 12px;
    
}
#Redigera{
    margin-left: 123px;
}
