@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .footer-container {
    flex: 1;
  }
  .TheFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 198px;
    background: #f3f1ee;
  }
  .footer-ul {
    top: 10%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    width: 100%;
    padding-left: 10px;
  }
  .footer-ul p {
    margin: 0;
  }

  .Footerh1 {
    left: 5.19%;
    right: 80%;
    bottom: 70%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #000000;
  }

  .footer-social-list li,
  .footer-social,
  .Footerh2,
  .lowtext li,
  .menu-trigger {
    display: none;
  }

  #gridNavBarLeft,
  #gridNavBarRight,
  #UnderLine,
  #UnderLineLeft,
  #UnderLineRight {
    display: none;
  }
  .menu-trigger-mobile {
    background-color: #faf8f7;
    border-radius: 0px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    border: none;
    transition: box-shadow 0.4s ease;
    margin-left: 65%;
    margin-top: -35px;
  }
  #gridNavBarCart {
    display: inline;
    text-align: center;
    left: 15%;
    padding-left: 7.4%;
  }

        /* line-height: 18px;
        padding-right: 20px;
        padding-top: 25px;
        margin: 0px;
        margin-bottom: 20px;
      } */
      #price {
        height: 30px;
        padding-top: 40px;
        text-align: right;
      }

      .TopPicture {
        width: 115.97px;
        height: 120px;
      }
      .desktoph1 {
          display: none;
      }
      #type, #ScrollDownInfo, #ReadInfo {
          display:none;
      }

      /* Kassa */

      #smallDeviceHead {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
      }

      #topRowCart {
        height: 220px;
        margin: 0px;
      }

      .cartBenefitBox {
        position: static;
        width: 80%;
        height: 90%;
      }

      #benefitText {
        position: static;
        width: 72%;
      }

      #paddingBenefitText {
        position: static;
        width: 100%;
        font-size: 10px;
      }

      #paddingIcons {
        padding: 3px;
      }

      #iconsCart {
        width: 28%;
      }

      #middleRowCart {
        margin: 0px;
      }

      #prodRow h5{
        display: none;
      }

      #prodRow {
        padding-bottom: 10px;
      }

      #smallDevicePicturePos {
        position: static;
      }

      #centerMidHeader {
        text-align: center;
      }

      #prenumeration {
        text-align: center;
      }

      #smallDevicePrice::before {
        text-align: center;
        content: "Månadskostnad: ";
      }

      #smallDeviceQty::before {
        text-align: center;
        content: "Kvantitet: ";
      }

      
      #smallDeviceTotPrice {
        position: static;
      }

      #smallDeviceTotPrice::before {
        text-align: center;
        content: "Totalt: ";
      }

      #smallDeviceCheckoutInfo {
        width: 100%;
        padding-left: 40px;
        margin: 0px;
        text-align: center;
      }

      .totalPaymentCarts {
        margin-left: 0;
      } 

      .checkOutPayment {
        margin-left: 0;
        width: 100%;
      }

      #smallDeviceJustify {
        font-size: 10px;
      }    


  .shopping-cart {
    margin: 20px 0;
    margin-left: 290px;
    float: right;
    background: #faf8f7;
    width: 220px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 30px;
  }

  .prodImg {
    width: 20%;
    display: none;
  }

  .Shooping-cart-Ploygon {
    background-image: url("/Images/Polygon.png");
    position: absolute;
    width: 26px;
    height: 27px;
    left: 480px;
    top: 5px;
  }
  .winelogo {
    width: 55px;
    text-align: center;
    background-color: #faf8f7;
  }

  .hamburgerMenu {
    margin-top: 5px;
    margin-left: -50px;
    justify-content: left;
  }
  .wineboxImage {
    width: 152px;
    height: 142px;
    align-items: center;
  }
  .descText {
    line-height: 18px;
    padding-right: 20px;
    padding-top: 25px;
    margin: 0px;
    margin-bottom: 20px;
  }
  #price {
    height: 30px;
    padding-top: 40px;
    text-align: right;
  }

  .wineboxButtonMobil {
    width: 134px;
    height: 27px;
    border-radius: 10px;
    background: #6642B1;
    font-family: Amatic SC;
    font-style: normal;
    margin-left: 10%;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0;
    color: #ffffff;
  }

  .TopPicture {
    width: 152px;
    height: 120px;
  }
  .desktoph1 {
    display: none;
  }
  #type,
  #ScrollDownInfo,
  #ReadInfo,
  #VidareKnapp,
  .h21,
  .DesktopInfo,
  #Kommandelador,
  #BoxMonth1,
  #BoxMonth2,
  #BoxMonth3,
  .NextBlandat,
  .PlaceHolder1,
  .PlaceHolder2,
  #LinkTo1,
  #LinkTo2,
  #LinkTo3,
  #KommandeLador,
  .NextOrange,
  .For_desktop,
  .hideBRonMobile,
  .NextWhite,
  .NextRed,
  .NextBubbel,
  #descInfo,
  .wineboxButton,
  .react-responsive-modal-closeButton {
    display: none;
  }
  #mobiletype {
    width: 303px;
    height: 22px;
    left: 16px;
    top: 130px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  .mobileh1 {
    width: 303px;
    height: 35px;
    left: 17px;
    top: 95px;

    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }
  #MobilVidareKnapp {
    display: flex;
    margin-left: 35%;
    margin-bottom: 20%;
    background: #6642B1;
    border-radius: 3px;
    color: white;
    border: 0;
    width: 140%;
    justify-content: center;
    font-family: Poppins;
  }
  .produkth2 {
    display: block;
    width: 320px;
    left: 30px;
  }
  .infoContainer {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }
  .infoContainer h2 {
    font-size: 18px;
    text-align: center;
  }
  .produktP {
    width: 257px;
    margin-left: 28%;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
  }
  .produktH3 {
    left: 0px;
    top: 60%;

    font-family: Halant;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    display: none;
  }
  .Product-page {
    background-color: #e4e0d7;
    font-family: Halant;
    display: inline-block;
    width: 100%;
    height: 870px;
    padding-bottom: 93px;
  }
  #more {
    display: none;
  }
  .RubrikBlandat {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 97.89%;
    width: 300px;
    font-family: Amatica SC;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .Blandat1 {
    width: 56px;
    height: 200px;
    top: 679px;
  }
  .Blandat2,
  .Blandat3,
  .Blandat4 {
    width: 56px;
    height: 200px;
    top: 679px;
  }
  .h21mobil {
    left: 0%;
    right: 0%;
    top: 28.04%;
    bottom: 0%;
    width: 100%;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-top: 20%;
  }
  #Orange_you_glad {
    margin-left: 3%;
  }
  #White_is_blanc {
    margin-left: 10%;
  }
  .RubrikBlandat {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Amatic SC;
  }
  .Taste1,
  .Taste2,
  .Taste3,
  .Taste4 {
    margin-left: 0;
    margin-right: 30px;
    width: 170px;
    height: 204px;
  }
  .Oragne1,
  .Oragne2,
  .Oragne3,
  .Oragne4 {
    width: 56px;
    height: 200px;
    top: 679px;
  }

  .ReadMoreButton {
    border: 0;
    background-color: #faf8f7;
    width: 154px;
    height: 32px;
    margin-left: 20%;
    top: 0px;
    color: #6642B1;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    
  }

  .Overlay_container {
    display: relative;
    position: absolute;
    width: 257px;
    height: 315px;
    margin-left: 10%;
    top: 0px;
    z-index: 2;
    background: #ffffff;
    border-radius: 4px;
    border: solid 2px lightgray;
  }
  .overlaytext {
    font-size: 16px;
  }
  .BacktoBoxes {
    font-family: Poppins;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 2%;
  }

  #kortNum,#telefonnummer,#email,#pass,#rePass {
    width: 220px;
  }

  #InputForm {
    left: 0%;
    margin-top: 40px;
    position: static;
  }

  #KassaHeader {
    top: 20px;
    text-align: center;
    margin-left: 0;
    position: static;
  }

  .orderInfo {
    background-color: #E4E0D7;
    width: 290px;
    height: 290px;
    margin-top: 20px;
  }

  #labelKassa1,#labelKassa2 {
    position: static;
  }

  /* Bekräftelse */
  #confirmHide {
    display: none;
  }

  #confirmRow {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    margin-top: 8%;
    margin-left: 3%;
    border-radius: 15px;
  }
  #confirmText {
    margin-left: 0%;
  }
  .confirmInfo{
    margin-top: 0%;
    display:flex;
  }

  #confirmContainer {
    padding: 0;
    margin: 0;
  }
  #ConfirmH1 {
    margin-left: 25%;
  }

  .miniCartProdImg {
    width: 20%;
    height: 100%;
    display: flex;
  }
  #prodInfo {
    text-align: left;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
  #VarukorgLitle{
    height: auto;
    top:0;
    left:0;
    padding-bottom: 20px;
  }
}