body {
    background-color: #E4E0D7;
}

.navbar {
  background-color: #FAF8F7;
  padding: 0;
  width: 100%;
  height: 100px;
}

.navText {
  font-family:'Franklin Gothic SMall', 'Arial Narrow', Arial, sans-serif;
  margin-left: 100px;
  margin-top: 60px;
  width: 100%;
  height: 50%;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(6, auto);
}

.navLink {
  list-style: none;
  color: black
}

.navLink:hover {
  text-decoration: none;
  color: grey;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#underlineNav {
  position: absolute;
  background-color: black;
  height: 0.2px;
  margin-top: 0px;
  width: 100%;

}

.Kassa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    position: absolute;
    width: 58px;
    height: 50px;
    left: 689px;
    top: 177px;
}

.InputForm {
    background-color: #E4E0D7;
    display: inline-block;
    position: absolute;
    padding: 100px;
    width: 660px;
    height: 1345px;
    left: 328px;
    top: 259px;
}
.Kontaktuppgifter {
    width: 135px;
    height: 22px;
    left: 420px;
    top: 338px;
}
#email{
    width: 450px;
    height: 50px;
    left: 420px;
    top: 370px;
    font-size: 14px;
    line-height: 22px;
}
.leveransadress{
    width: 98px;
    height: 22px;
    left: 420px;
    top: 516px;
}
#firstName {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#lastName {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#Adress {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 613px;
    font-size: 14px;
    line-height: 22px;
}
#Lgh {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 678px;
    font-size: 14px;
    line-height: 22px;
}
#Postnummer {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 738px;
    font-size: 14px;
    line-height: 22px;
}
#Ort {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 738px;
    font-size: 14px;
    line-height: 22px; 
}
#land {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 798px;
    font-size: 14px;
    line-height: 22px;
}
#telefonnummer {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 858px;
    font-size: 14px;
    line-height: 22px;
}
.Betalningsinformation {
    width: 150px;
    height: 22px;
    left: 420px;
    top: 965px;

}
#creditcard {
    width: 444px;
    height: 50px;
    left: 420px;
    top: 992px;
    font-size: 14px;
    line-height: 22px;
}
h2  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#Betala {
    position: absolute;
    border: none;
    background: #6C5647;
    width: 180px;
    height: 67px;
    left: 561px;
    top: 1500px;
    border-radius: 30px;
    font-size: 16px;
    margin: 4px 2px;
}
#return {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 130px;
    top: 480px;
    font-size: 12px;
    line-height: 19px;
    color: black;

}
.VarukorgLitle {
    background-color: #E4E0D7;
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 521px;
    left: 1007px;
    top: 259px;
    padding: 50px;
}
#text1 {
    font-size: 14px;
    line-height: 22px;

}
#text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.col-sm-5 {
    background-color: #C2BEB5;
    border: 5;
    padding: 1px;
    border-radius: 5px;
    margin-left:330px; 
  }
body {
    background-color: white;
  }

  #ConfirmH1 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
  }
  #ConfirmH2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
  }
  
  #ConfirmH3 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 15px;
    font-style:italic;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
  }
  
  .bekräftelseInfo {
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  .hr {
    text-align: center;
  }
  
  .bottle-wine {
    font-size: 50px;
  }
  .DeliveryIcon {
    font-size: 50px;
  }
   #p0 {
    
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 130px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  #Confirmknappen {
    background-color: white;
    position: absolute;
    border: 0;
    margin: 40px;
    margin-left: 170px;
    text-align: center;
    text-decoration:underline;
  }
  
  #Confirmknappen:hover {
    cursor: pointer;
  }
  
  #Subscribeknapp {
      background-color: darkgray;
      padding: 15px;
      padding-left: 40px;
      padding-right: 45px;
      padding-top: 13px;
      padding-bottom: 13px;
      border-radius: 100px;
      border: 0;
      margin: 400px;
      margin-left: 43em;
  }
  
  #Subscribeknapp:hover {
      background-color: dimgray;
  }

.payment-container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-left: -20px;
  }
  
  #headerh2 {
    color: grey;
    font-size: 20px;
    text-align: center;
  }
  
  #hrheader {
    width: 450px;
    background-color: grey;
  }
  
  #hrbelowpay {
    margin-top: 10px;
    width: 450px;
    background-color: grey;
  }
  
  .swishContainer {
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 100px;
  }
  
  .icons-container {
    width: 450px;
    height: 200px;
    margin-left: 23px;
  }
  
  .swishButton {
    padding: 0px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #E4E0D7;
    border: 1px solid grey;
  }

  .swishButton:hover {
    border: 1px solid black;
  }
  
  #swishImg {
    background-color: #E4E0D7;
    width: 150px;
    height: 150px;
  }

  #swishImg:hover {
    background-color: #e9e6da;
  }
  
  .cardButton {
    margin-left: 50px;
    border: 1px solid grey;
    background-color: #E4E0D7;
  }
  
  .cardButton:hover {
    background-color: #e9e6da;
    border: 1px solid black;
  }
  
  #cardImg {
    width: 150px;
    height: 150px;
  }
  
  .payment {
    margin-left: 23px;
    margin-top: 15px;
    width: 450px;
    height: 250px;
  }
  
  .phoneNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 100px;
  }
  
  #numberInput {
    text-align: center;
    display: block;
    padding: 10px;
    width: 400px;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 35px;
  }
  
  .cardNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 130px;
  }
  
  .cvcCode {
    position: absolute;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 10px;
  }
  
  #cvcNumber {
    display: inline;
    width: 80px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 330px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  .submitSwish {
    width: 424px;
    height: 50px;
    margin-left: 13px;
    margin-top: 20px;
  }
  
  .submitSwish:hover {
    background-color: rgb(255, 255, 249);
    border: 1px solid grey;
  }
  
  ::placeholder {
    color:grey;
    opacity: 20%;
  }


  .wineboxContainer {
    width: 100%;
    height: 1200px;
  }

  #boxRight {
    padding: 0px;
  }

  .row {
    width: 1400px;
    margin-left: 80px;
    margin-top: 40px;
  }

  #downRow {
    padding-top: 0px;
    padding-right: 0;
  }

  .wineboxHeader {
    background-color: #F3F1EE;
    width: 100%;
    height: 300px;
  }

  #headertexth2 {
  text-align: center;
  padding-top: 100px;
  }

  .wineboxItem {
    margin-top: 20px;
    width: 400px;
    height: 475px;
    background-color: #fffaf4;
  }

  .wineboxImage {
    margin-bottom: 30px;
    margin-left: 75px;
  }

  .grapeImage {
    position: absolute;
    margin-left: 180px;
    margin-top: -23px;
  }

  .headerBoxItem {
    width: 100%;
    height: 10%;
    padding-top: 10px;
    text-align: center;
  }

  .boxInfo {
    background-color: #E4E0D7;
    width: 100%;
    height: 51%;
  }

  .priceText {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 0px;
  }

  .descText {
    padding-left: 20px;
    padding-right: 20px;
  }

  
.TopNavbar {
  background-color: #E5E5E5;
  width: 100%;
  height: 88px;
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
  padding: 0; 
}

.winelogo {
  margin-top: -15px;
  margin-left: 22px;
  padding: 10px;
  background-color: #E5E5E5;
  border-radius: 100%;
}

.PosLeftNavbar1 {
  position: absolute;
  width: 30px;
  height: 19px;
  left: 90px;
  top: 34px;
}
.PosLeftNavbar2 {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 210px;
  top: 34px;
}
.PosLeftNavbar3 {
  position: absolute;
  width: 88px;
  height: 19px;
  left: 352px;
  top: 34px;
}
.PosLeftNavbar4 {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 530px;
  top: 34px;  
}
.IconNavbar {
  position: absolute;
  width: 78px;
  height: 78.69px;
  left: 681px;
  top: 49px;

}
.PosRightNavbar1 {
  position: absolute;
  width: 50px;
  height: 19px;
  left: 980px;
  top: 34px;
}
.PosRightNavbar2 {
  position: absolute;
  width: 50px;
  height: 19px;
  left: 1120px;
  top: 34px;
}
.PosRightNavbar3 {
  position: absolute;
  width: 90px;
  height: 19px;
  left: 1260px;
  top: 34px;
}
a {
  color: black;
}
#UnderLine {
  margin: 0em;
  padding: 0%;
  border-width: 0.5px;
  width: 100%;
}

.ProduktSida{
  background-color: #E4E0D7;
  display:inline-block;
  width: 100%;
  height: 660px;
  left: -3px;
  top: 89px;
  padding-bottom: 93px;

}
.TopPicture {
  position: absolute;
  width: 465.75px;
  height: 343px;
  left: 181px;
  top: 143px;
}
#ProduktH1 {
  position: absolute;
  width: 507px;
  height: 53px;
  left: 780px;
  top: 116px;
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
}
#ProduktH2 {
  position: absolute;
  width: 409px;
  height: 35px;
  left: 783px;
  top: 200px;
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
#ProduktH3 {
  position: absolute;
  width: 222px;
  height: 25px;
  left: 783px;
  top: 401px;
  font-family: Halant;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}
#selj1 {
  position: absolute;
  width: 99px;
  height: 25px;
  left: 781px;
  top: 167px;
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}
#selj2 {
  position: absolute;
  width: 539px;
  height: 125px;
  left: 783px;
  top: 244px;
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#selj3 {
  position: absolute;
  width: 539px;
  height: 100px;
  left: 783px;
  top: 426px;
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#selj4 {
  position: absolute;
  width: 528px;
  height: 66px;
  left: 781px;
  top: 548px;
  font-family: Halant;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
#VidareKnapp {
  position: absolute;
  width: 542px;
  height: 46px;
  left: 776px;
  top: 609px;
  
  background: #D78255;
  border: 1px solid #E6E2DA;
  box-sizing: border-box;
  border-radius: 30px;
}
#ReadInfo {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 384px;
  top: 604px;
  
  background: #EED8D8;
}
.FlaskaPlatsEtt{
  position: absolute;
  width: 106px;
  height: 382px;
  left: 254px;
  top: 967px;
}
.FlaskaPlatsTvå{
  position: absolute;
  width: 108px;
  height: 414px;
  left: 665px;
  top: 936px;  
}
.Nr3{
  position: absolute;
  width: 108px;
  height: 414px;
  left: 1078px;
  top: 936px;  
}
.Nr4{
  position: absolute;
  width: 110px;
  height: 378px;
  left: 250px;
  top: 1765px;  
}
.Nr5{
  position: absolute;
  width: 112px;
  height: 422px;
  left: 684px;
  top: 1721px;  
}
.Nr6{
  position: absolute;
  width: 112px;
  height: 442px;
  left: 1083px;
  top: 1701px;  
}
#TextPos1 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 147px;
  top: 1430px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}
#TextPos2 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 560px;
  top: 1430px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  
}
#TextPos3 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 959px;
  top: 1430px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#TextPos4 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 147px;
  top: 2234px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#TextPos5 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 560px;
  top: 2234px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#TextPos6 {
  position: absolute;
  width: 359px;
  height: 125px;
  left: 959px;
  top: 2234px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;  
}
#LadansViner {
  position: absolute;
  width: 1440px;
  height: 77px;
  left: 0px;
  top: 773px;
  
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 66px;
  text-align: center;
}
#KommandeLador {
  position: absolute;
  width: 1440px;
  height: 77px;
  left: 0px;
  top: 2492px;
  
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 66px;
  text-align: center;
}
.NextVine {
  position: absolute;
  width: 254px;
  height: 175px;
  left: 189px;
  top: 2774px;

}
.PlaceHolder1 {
  position: absolute;
  width: 254px;
  height: 175px;
  left: 593px;
  top: 2774px;

}
.PlaceHolder2 {
  position: absolute;
  width: 254px;
  height: 175px;
  left: 997px;
  top: 2774px;
  
}

/*----ShoppingCart----*/
.cartContainer {
  margin: auto;
  width: 80%;
}
.shopping-cart {
  margin: 20px 0;
  float: right;
  background: #C9D5C7;
  width: 326px;
  height: 460px;
  position: relative;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 30px;
}

.shopping-cart-header {
  
  position: absolute;
width: 90px;
height: 22px;
left: 18px;
top: 18px;

font-family: Halant;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
}
.Shoppingcartbild {
  background-image: url("/Images/Varukorg.png");
  position: absolute;
  width: 100px;
  height: 64.41px;
  left: 18px;
  top: 70px;
}

.shopping-cart-pris {
  position: absolute;
width: 115px;
height: 22px;
left: 139px;
top: 70px;

font-family: Halant;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
  
}
.shopping-cart-varu-namn {
  position: absolute;
  width: 115px;
  height: 18px;
  left: 139px;
  top: 95px;
  
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  
}
.shopping-cart-antal {
  position: absolute;
  width: 91px;
  height: 22px;
  left: 139px;
  top: 123px;
  
  font-family: Halant;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}


.shopping-kassa {
  position: absolute;
  width: 94px;
  height: 55px;
  left: 191px;
  top: 368px;
  background: #C26D3D;
  border-radius: 30px;
  border: 0;
  color: white;
}

.shopping-visa-varukorg {
  position: absolute;
  width: 94px;
  height: 55px;
  left: 45px;
  top: 368px;
  background: #C26D3D;
  border-radius: 30px;
  border: 0;
  color: white;
  
  
}

