body {
    background-color: #E4E0D7;
}

.navbar {
  background-color: #FAF8F7;
  padding: 0;
  width: 100%;
  height: 100px;
}

.navText {
  font-family:'Franklin Gothic SMall', 'Arial Narrow', Arial, sans-serif;
  margin-left: 100px;
  margin-top: 60px;
  width: 100%;
  height: 50%;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(6, auto);
}

.navLink {
  list-style: none;
  color: black
}

.navLink:hover {
  text-decoration: none;
  color: grey;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#underlineNav {
  position: absolute;
  background-color: black;
  height: 0.2px;
  margin-top: 117px;
  width: 100%;

}

.Kassa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    position: absolute;
    width: 58px;
    height: 50px;
    left: 689px;
    top: 177px;
}

.InputForm {
    background-color: #E4E0D7;
    display: inline-block;
    position: absolute;
    padding: 100px;
    width: 660px;
    height: 1345px;
    left: 328px;
    top: 259px;
}
.Kontaktuppgifter {
    width: 135px;
    height: 22px;
    left: 420px;
    top: 338px;
}
#email{
    width: 450px;
    height: 50px;
    left: 420px;
    top: 370px;
    font-size: 14px;
    line-height: 22px;
}
.leveransadress{
    width: 98px;
    height: 22px;
    left: 420px;
    top: 516px;
}
#firstName {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#lastName {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#Adress {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 613px;
    font-size: 14px;
    line-height: 22px;
}
#Lgh {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 678px;
    font-size: 14px;
    line-height: 22px;
}
#Postnummer {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 738px;
    font-size: 14px;
    line-height: 22px;
}
#Ort {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 738px;
    font-size: 14px;
    line-height: 22px; 
}
#land {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 798px;
    font-size: 14px;
    line-height: 22px;
}
#telefonnummer {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 858px;
    font-size: 14px;
    line-height: 22px;
}
.Betalningsinformation {
    width: 150px;
    height: 22px;
    left: 420px;
    top: 965px;

}
#creditcard {
    width: 444px;
    height: 50px;
    left: 420px;
    top: 992px;
    font-size: 14px;
    line-height: 22px;
}
h2  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

#Betala {
    position: absolute;
    border: none;
    background: #6C5647;
    width: 180px;
    height: 67px;
    left: 561px;
    top: 1500px;
    border-radius: 30px;
    font-size: 16px;
    margin: 4px 2px;
}
#return {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 130px;
    top: 480px;
    font-size: 12px;
    line-height: 19px;
    color: black;

}
.VarukorgLitle {
    background-color: #E4E0D7;
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 521px;
    left: 1007px;
    top: 259px;
    padding: 50px;
}
#text1 {
    font-size: 14px;
    line-height: 22px;

}
#text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
#text3 {

    
}
#text4 {

}
#text5 {
    
}
#text6 {
    
}
#text7 {
    
}


.col-sm-5 {
    background-color: #C2BEB5;
    border: 5;
    padding: 1px;
    border-radius: 5px;
    margin-left:330px; 
  }
body {
    background-color: white;
  }

  #ConfirmH1 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
  }
  #ConfirmH2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
  }
  
  #ConfirmH3 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 15px;
    font-style:italic;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
  }
  
  .bekräftelseInfo {
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  .hr {
    text-align: center;
  }
  
  .bottle-wine {
    font-size: 50px;
  }
  .DeliveryIcon {
    font-size: 50px;
  }
   #p0 {
    
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 130px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  #Confirmknappen {
    background-color: white;
    position: absolute;
    border: 0;
    margin: 40px;
    margin-left: 170px;
    text-align: center;
    text-decoration:underline;
  }
  
  #Confirmknappen:hover {
    cursor: pointer;
  }
  
  #Subscribeknapp {
      background-color: darkgray;
      padding: 15px;
      padding-left: 40px;
      padding-right: 45px;
      padding-top: 13px;
      padding-bottom: 13px;
      border-radius: 100px;
      border: 0;
      margin: 400px;
      margin-left: 43em;
  }
  
  #Subscribeknapp:hover {
      background-color: dimgray;
  }

.payment-container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-left: -20px;
  }
  
  #headerh2 {
    color: grey;
    font-size: 20px;
    text-align: center;
  }
  
  #hrheader {
    width: 450px;
    background-color: grey;
  }
  
  #hrbelowpay {
    margin-top: 10px;
    width: 450px;
    background-color: grey;
  }
  
  .swishContainer {
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 100px;
  }
  
  .icons-container {
    width: 450px;
    height: 200px;
    margin-left: 23px;
  }
  
  .swishButton {
    padding: 0px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #E4E0D7;
    border: 1px solid grey;
  }

  .swishButton:hover {
    border: 1px solid black;
  }
  
  #swishImg {
    background-color: #E4E0D7;
    width: 150px;
    height: 150px;
  }

  #swishImg:hover {
    background-color: #e9e6da;
  }
  
  .cardButton {
    margin-left: 50px;
    border: 1px solid grey;
    background-color: #E4E0D7;
  }
  
  .cardButton:hover {
    background-color: #e9e6da;
    border: 1px solid black;
  }
  
  #cardImg {
    width: 150px;
    height: 150px;
  }
  
  .payment {
    margin-left: 23px;
    margin-top: 15px;
    width: 450px;
    height: 250px;
  }
  
  .phoneNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 100px;
  }
  
  #numberInput {
    text-align: center;
    display: block;
    padding: 10px;
    width: 400px;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 35px;
  }
  
  .cardNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 130px;
  }
  
  .cvcCode {
    position: absolute;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 10px;
  }
  
  #cvcNumber {
    display: inline;
    width: 80px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 330px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  .submitSwish {
    width: 424px;
    height: 50px;
    margin-left: 13px;
    margin-top: 20px;
  }
  
  .submitSwish:hover {
    background-color: rgb(255, 255, 249);
    border: 1px solid grey;
  }
  
  ::placeholder {
    color:grey;
    opacity: 20%;
  }


  .wineboxContainer {
    width: 100%;
    height: 500px;
  }

  .row {
    margin-left: 100px;
  }

  .wineboxHeader {
    background-color: #F3F1EE;
    width: 100%;
    height: 300px;
  }

  #headertexth2 {
  text-align: center;
  }

  .wineboxItem {
    width: 400px;
    height: 475px;
    background-color: grey;
  }

  
.TopNavbar {
  position: absolute;
  height: 88px;
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px

}
.PosLeftNavbar1 {
  position: absolute;
  width: 30px;
  height: 19px;
  left: 90px;
  top: 34px;
}
.PosLeftNavbar2 {
  position: absolute;
  width: 52px;
  height: 19px;
  left: 210px;
  top: 34px;
}
.PosLeftNavbar3 {
  position: absolute;
  width: 88px;
  height: 19px;
  left: 352px;
  top: 34px;
}
.PosLeftNavbar4 {
  position: absolute;
  width: 70px;
  height: 19px;
  left: 530px;
  top: 34px;  
}
.IconNavbar {
  position: absolute;
  width: 78px;
  height: 78.69px;
  left: 681px;
  top: 49px;

}
.PosRightNavbar1 {
  position: absolute;
  width: 50px;
  height: 19px;
  left: 980px;
  top: 34px;
}
.PosRightNavbar2 {
  position: absolute;
  width: 50px;
  height: 19px;
  left: 1120px;
  top: 34px;
}
.PosRightNavbar3 {
  position: absolute;
  width: 90px;
  height: 19px;
  left: 1260px;
  top: 34px;
}
a {
  color: black;
}



