#root {
    background: #FAF8F7;
}

@font-face {
  font-family: 'AmaticaSC';
  src: url('fonts/AmaticaSC.eot'); /* IE9 Compat Modes */
  src: url('fonts/AmaticaSC.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/AmaticaSC.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/AmaticaSC.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/AmaticaSC.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/AmaticaSC.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.TopNavbar a:hover, a:focus, a:active {
  text-decoration: none;
  color: grey;
}

a ,a:hover, a:focus, a:active{
  text-decoration: none;
  color: black;
}

/* Kassa */ 

.Kassa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    position: absolute;
    width: 58px;
    height: 50px;
    left: 689px;
    top: 177px;
}

.InputForm {
    background-color: #E4E0D7;
    display: inline-block;
    position: absolute;
    padding: 100px;
    width: 660px;
    height: 1345px;
    left: 328px;
    top: 259px;
}
.Kontaktuppgifter {
    width: 135px;
    height: 22px;
    left: 420px;
    top: 338px;
}
#email{
    width: 450px;
    height: 50px;
    left: 420px;
    top: 370px;
    font-size: 14px;
    line-height: 22px;
}
.leveransadress{
    width: 98px;
    height: 22px;
    left: 420px;
    top: 516px;
}
#firstName {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#lastName {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 548px;
    font-size: 14px;
    line-height: 22px;
}
#Adress {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 613px;
    font-size: 14px;
    line-height: 22px;
}
#Lgh {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 678px;
    font-size: 14px;
    line-height: 22px;
}
#Postnummer {
    width: 225px;
    height: 50px;
    left: 420px;
    top: 738px;
    font-size: 14px;
    line-height: 22px;
}
#Ort {
    width: 225px;
    height: 50px;
    left: 644px;
    top: 738px;
    font-size: 14px;
    line-height: 22px; 
}
#land {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 798px;
    font-size: 14px;
    line-height: 22px;
}
#telefonnummer {
    width: 450px;
    height: 50px;
    left: 420px;
    top: 858px;
    font-size: 14px;
    line-height: 22px;
}
.Betalningsinformation {
    width: 150px;
    height: 22px;
    left: 420px;
    top: 965px;

}
#creditcard {
    width: 444px;
    height: 50px;
    left: 420px;
    top: 992px;
    font-size: 14px;
    line-height: 22px;
}

#Betala {
    position: absolute;
    border: none;
    background: #6C5647;
    width: 180px;
    height: 67px;
    left: 561px;
    top: 1500px;
    border-radius: 30px;
    font-size: 16px;
    margin: 4px 2px;
}
#return {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 130px;
    top: 480px;
    font-size: 12px;
    line-height: 19px;
    color: black;

}
.VarukorgLitle {
    background-color: #E4E0D7;
    display: inline-block;
    position:absolute;
    width: 360px;
    height: 521px;
    left: 1007px;
    top: 259px;
    padding: 50px;
}
#text1 {
    font-size: 14px;
    line-height: 22px;

}
#text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.col-sm-5 {
    background-color: #C2BEB5;
    position: absolute;
    width: 660px;
    height: 845px;
    left: 382px;
    top: 266px;
    padding: 100px;
    
  }
body {
    background-color: #FAF8F7;;
  }

  #ConfirmH1 {
    position: absolute;
    width: 197px;
    height: 50px;
    left: 624px;
    top: 187px;
    
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
  }
  #ConfirmH2 {
    text-align: center;
    font-family: Amatic SC;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
  }
  
  #ConfirmH3 {
    width: 225px;
    height: 22px;
    left: 530px;
    top: 344px;
    
    font-family: Halant;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
  }
  
  .bekräftelseInfo {
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  .hr {
    text-align: center;
  }
  
  .bottle-wine {
    font-size: 50px;
  }
  .DeliveryIcon {
    font-size: 50px;
  }

   #p0 {
    font-family: Amatic SC;
    font-size: 15px;
    margin-left: 130px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  #PicP0 {
    background-image: url(./Images/Vinbildconf.png);
  }
  #Confirmknappen {
    position: absolute;
    width: 118px;
    height: 24px;
    left: 645px;
    top: 1153px;
    
    font-family: Halant;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height */
    
    text-decoration-line: underline;
  }
  
  #Confirmknappen:hover {
    cursor: pointer;
  }
  
  #Subscribeknapp {
      background-color: darkgray;
      padding: 15px;
      padding-left: 40px;
      padding-right: 45px;
      padding-top: 13px;
      padding-bottom: 13px;
      border-radius: 100px;
      border: 0;
      margin: 400px;
      margin-left: 43em;
  }
  
  #Subscribeknapp:hover {
      background-color: dimgray;
  }

.payment-container {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    margin-top: 50px;
    margin-left: -20px;
  }
  
  #headerh2 {
    color: grey;
    font-size: 20px;
    text-align: center;
  }
  
  #hrheader {
    width: 450px;
    background-color: grey;
  }
  
  #hrbelowpay {
    margin-top: 10px;
    width: 450px;
    background-color: grey;
  }
  
  .swishContainer {
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    height: 200px;
    margin: 100px;
  }
  
  .icons-container {
    width: 450px;
    height: 200px;
    margin-left: 23px;
  }
  
  .swishButton {
    padding: 0px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: #E4E0D7;
    border: 1px solid grey;
  }

  .swishButton:hover {
    border: 1px solid black;
  }
  
  #swishImg {
    background-color: #E4E0D7;
    width: 150px;
    height: 150px;
  }

  #swishImg:hover {
    background-color: #e9e6da;
  }
  
  .cardButton {
    margin-left: 50px;
    border: 1px solid grey;
    background-color: #E4E0D7;
  }
  
  .cardButton:hover {
    background-color: #e9e6da;
    border: 1px solid black;
  }
  
  #cardImg {
    width: 150px;
    height: 150px;
  }
  
  .payment {
    margin-left: 23px;
    margin-top: 15px;
    width: 450px;
    height: 250px;
  }
  
  .phoneNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 100px;
  }
  
  #numberInput {
    text-align: center;
    display: block;
    padding: 10px;
    width: 400px;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 35px;
  }
  
  .cardNumber {
    font-size: 30px;
    margin-top: 0px;
    margin-left: 130px;
  }
  
  .cvcCode {
    position: absolute;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 10px;
  }
  
  #cvcNumber {
    display: inline;
    width: 80px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 330px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
  
  .submitSwish {
    width: 424px;
    height: 50px;
    margin-left: 13px;
    margin-top: 20px;
  }
  
  .submitSwish:hover {
    background-color: rgb(255, 255, 249);
    border: 1px solid grey;
  }
  
  ::placeholder {
    color:grey;
    opacity: 20%;
  }

 /* WineBox  */

 .wineboxHeader {
  background-color: #F3F1EE;
  width: 100%;
  height: 300px;
  text-align: center;
  padding-top: 6%;
}

  .wineboxContainer {
    background-color: #FAF8F7;
    font-family: 'AmaticaSC';
    width: 100%;
    height: 100%;
  }

  #topRow {
    width: 100%;
    margin-top: 60px;
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 5%;
  }

  #downRow {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20%;
  }

  #wineboxgrid {
    position:inherit;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .imageContWinebox {
    text-align: center;
  }

  .wineboxImage {
    
    width: 215px;
    height: 165px;
    align-items: center;
    transition: transform .2s;
  }
  .wineboxImage:hover {
    transform: scale(1.2);
  }
  
  .grapeImage {
    position: absolute;
    margin-left: 180px;
    margin-top: -23px;
  }

  .headerBoxItem {
    width: 100%;
    height: 10%;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
  }

  .headerBoxItem h3 {
    margin: 0px;
    padding: 10px;
  }

  .boxInfo {
    width: 100%;
    height: 51%;
  }

  .descText {
    width: 100%;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    margin: 0px;
    margin-bottom: 5px;
  }

  #price {
    height: 30px;
    padding-top: 0px;
    text-align: right;
  }

  .wineboxButton {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    border-radius: 4px;
    color: white;
    background-color: #D78255;
    width: 100%;
    height: 44px;
  }

/* Navbar */
  
.TopNavbar {
  background-color: #FAF8F7;
  width: 100%;
  height: 88px;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  padding-top: 35px;
}

.winelogo {
  margin-top: -15px;
  text-align: center;
  padding: 10px;
  background-color: #FAF8F7;
  border-radius: 100%;
}

#gridNavBarLeft {
  display: inline;
  text-align: center;
  padding-left: 6.4%; 
}

#gridNavBarRight {
  display: inline;
  text-align: center;
  left: 15%;
  padding-left: 7.4%;
}
#gridNavBarCart {
  display: inline;
  text-align: center;
  left: 15%;
  padding-left: 7.4%;
}

.IconNavbar {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 78.69px;
  top: 49px;
}

#UnderLine {
  position: absolute;
  top: 89px;
  margin: 0em;
  padding: 0%;
  border-width: 0.5px;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .hamburgerMenu {
    display: none;
  }
}


#sepLine {
  position: absolute;
  margin: 0em;
  padding: 0%;
  border-width: 0.5px;
  width: 100%;
}

.menu-trigger {
  font-weight: bold;
  background-color: #FAF8F7;
  border-radius: 0px;
  cursor: pointer;
  display: inline;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}
.menu-trigger-mobile {
  display: none;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*----ShoppingCart----*/
.cartContainer {
  margin: auto;
  width: 80%;
}
#ShoppingCartLine {
  position: absolute;
  width: 324px;
  height: 0px;
  left: 0px;
  top: 328.51px;
  border: 1px solid #C26D3D;
}

.changeProductAmount {
  background: none;
  border: none;
}

#garbage-icon {
  text-align: right;
  padding-right: 40px;
}

#totalPrice {
  text-align: left;
  padding-top: 10px;
  padding-left: 40px;
}

.shopping-cart {
  position: absolute;
  margin: 20px 0;
  margin-left: 60px;
  float: right;
  background: #FAF8F7;
  width: 326px;
  height: 500px;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 30px;
}

.shopping-cart-header {
  width: 90px;
  height: 22px;
  left: 18px;
  top: 18px;
}

.shopping-cart-items {
  width: 100%;
  height: 75%;
}

.shopping-cart-buttons {
  width: 100%;
  height: 15%;
}

#totAndGarbage {
  height: 10%;
}

.shopping-button-checkout {
  margin-bottom: 10px;
  width: 100%;
  background: #C26D3D;
  border-radius: 30px;
  color: white;
}

.shopping-button-shop {
  background: none;
  border: none;
}

.Shooping-cart-Ploygon {
  background-image: url("/Images/Polygon.png");
  position: absolute;
  width: 26px;
  height: 27px;
  left: 300px;
}

#prodRow {
  padding-bottom: 15px;
  padding-left: 15px;
}

#prodInfo {
  text-align: left;
  font-size: 12px;
}

.prodImg {
  width: 90%;
  height: 90%;
}
/* Footer */

#prodImg {
  width: 30%;
  height: 80%;
}

#cartCat {
  text-align: center;
  align-self: center;
}

#iconsCart {
  text-align:end;
}

#paddingIcons {
  padding: 4px;
}

#paddingBottle {
  height: 25%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
}

.cartLine {
  border-radius: 1px solid black;
  background-color: #000000;
}

#topRowCart {
  justify-content: center;
  padding-bottom: 20px;
  height: 300px;
  width: 100%;
}

#middleRowCart {
  justify-content: center;
  height: 100px;
  width: 100%;
}

#bottomRowCart {
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.checkOutPayment {
  color: white;
  width: 20%;
  height: 30%;
  background: #C26D3D;
  border-style: none;
  border-radius: 10px;
  border-color: none;
}

.cartBenefitBox {
  align-self:flex-end;
  width: 40%;
  height: 65%;
  background: #C9D5C7;
  border-radius: 30px;
}

#paddingBenefitText {
  padding: 4.5px;
  margin: 0;
}

#headerTextBenefits {

  padding-top: 1%;
  padding-left: 7%;
}

.footers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.TheFooter {
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 334px;
  bottom: 0;

  background: #F3F1EE;
}

.footer-ul {
  list-style: none;
  position: relative;
  margin-top: 2em;
  margin-left: 10em;

  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

color: #000000;
}
.footer-social-list {
  list-style: none;
  justify-content: center;
}

.Footerh1 {
  justify-content: left;
  font-family: "Amatica SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
 

  
  color: #000000;
}
.footer-container {
  flex: 1;
}
.Footerh2 {
  justify-content: center;
  display: flex;
  font-family: "Amatica SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
}
 
.footer-social {
  margin-top: 2em;
  margin-right: 30em;
}
.footer-social-list {
  display: flex;

}
.footer-social-list li {
  margin: 2.5rem;
  font-size: 1.3rem;
  justify-content: center;
}
.lowtext{
  justify-content: center;

}
.lowtext li {
  
  list-style: none;
  font-family: Halant;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  
  color: #000000;
}



/* Product-page */

@media only screen and (min-width: 480px) {
  .mobileh1, #mobiletype, #MobilVidareKnapp, .MobilH3, #produktBR {
    display: none;
  }
}

.Product-page {
  background-color: #E4E0D7;
  font-family: Halant;
  display:inline-block;
  width: 100%;
  height: 660px;
  padding-bottom: 93px;

}
.TopPicture {
  width: 450px;
  height: 306px;
}

.infoContainer {
  width: 100%;
  height: 100%;
  padding-right: 137px;
  padding-left: 0px;
  padding-top: 72px;
}

#row-productInfo {
  width: 100%;
}

#col-grid-info {
  position: static;
  padding: 20px;
}

#picturePos {
  padding-top: 38px;
  margin-left: 25%;
}

.infoContainer h1 {
  font-family: Amatica SC;
  font-size: 36px;
  font-weight: bold;
}

#type {
  margin-top: -10px;
}

.infoContainer h2 {
  padding-bottom: 10px;
  font-family: Amatica SC;
  font-size: 24px;
  font-weight: bold;
}

.infoContainer h3 {
  font-weight: bold;
  font-size: 16px;
}

#VidareKnapp {
  color:rgb(255, 255, 249);
  width: 542px;
  height: 46px;
  background: #D78255;
  border: 1px solid #E6E2DA;
  box-sizing: border-box;
  border-radius: 30px;
}

#ScrollDownInfo{
  width: 100%;
  padding-top: 55px;
  text-align: center;
  font-family: Halant;
  font-size: 25px;
  text-decoration-line: underline;
  margin-left: -20%;
 
}


#ReadInfo {
  margin-top: -20px;
  margin-left: 25%;
  width: 48px;
  height: 48px;
  background: #EED8D8;
  border-radius: 100%;
}
.RubrikBlandat{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 83px;
}
#InfoLink {
  margin-bottom: 90px;
}
.Blandat1{
  background-image: Url(./Images/Blandat1.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Blandat2{
  background-image: Url(./Images/Blandat2.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Blandat3{
  background-image: Url(./Images/Blandat3.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Blandat4{
  background-image: Url(./Images/Blandat4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Oragne1{
  background-image: Url(./Images/Blandat1-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Oragne2{
  background-image: Url(./Images/Orange1-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;  
}
.Oragne3{
  background-image: Url(./Images/Orange1-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Oragne4{
  background-image: Url(./Images/Orange1-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
}
.Vitt1 {
  background-image: Url(./Images/Vit1-2.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;

}
.Vitt2 {
  background-image: Url(./Images/Vit1-2.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
  
}
.Vitt3 {
  background-image: Url(./Images/Vit3-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
  
}
.Vitt4 {
  background-image: Url(./Images/Vit3-4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px;
  
}
.Rött1 {
  background-image: Url(./Images/Red1.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Rött2 {
  background-image: Url(./Images/Red2.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Rött3 {
  background-image: Url(./Images/Red3.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Rött4 {
  background-image: Url(./Images/Red4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Bubble1 {
  background-image: Url(./Images/Bubbel1.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Bubble2 {
  background-image: Url(./Images/Bubbel2.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Bubble3 {
  background-image: Url(./Images/Bubbel3.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Bubble4 {
  background-image: Url(./Images/Bubbel4.png);
  margin-left: 50%;
  width: 80px;
  height: 310px; 
}
.Taste1{
  background-image: Url(./Images/Plats1.png);
  margin-left: 50%;
  width: 223px;
  height: 274px;
}
.Taste2{
  background-image: Url(./Images/Plats2.png);
  margin-left: 50%;
  width: 223px;
  height: 274px; 
}
.Taste3{
  background-image: Url(./Images/Plats3-4.png);
  margin-left: 50%;
  width: 223px;
  height: 274px;
}
.Taste4{
  background-image: Url(./Images/Plats3-4.png);
  margin-left: 50%;
  width: 223px;
  height: 274px;  
}
#LadansViner {
  position: absolute;
  width: 100%;
  height: 77px;
  
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 66px;
  text-align: center;
}
#KommandeLador {
  padding-right: 0px;
  margin-top: 140px;
  margin-bottom: 109px;
  height: 77px;
  font-family: Amatica SC;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 66px;
  text-align: center;
}
.NextBlandat {
  margin-left: 20%;
  background-image: Url(./Images/BubbelMaj.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
.NextOrange {
  margin-left: 20%;
  background-image: Url(./Images/OrangeMaj.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
.NextWhite {
  margin-left: 20%;
  background-image: Url(./Images/VittMaj.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
.NextRed {
  margin-left: 20%;
  background-image: Url(./Images/RedMaj.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
.NextBubbel {
  margin-left: 20%;
  background-image: Url(./Images/BubbelMaj.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;

}
.PlaceHolder1 {
  margin-left: 20%;
  background-image: url(./Images/PlaceHolder2end.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
.PlaceHolder2 {
  margin-left: 20%;
  background-image: url(./Images/PlaceHolder2end.png);
  width: 224px;
  height: 200px;
  text-align: center;
  margin-bottom: 28px;
}
#LinkTo1{
  font-family: Halant;
  margin-left: 15%;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  text-decoration-line: underline;
  padding-bottom:  306px;
}
#LinkTo2{
  font-family: Halant;
  margin-left: 25%;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-decoration-line: underline;
  text-align: center;
  padding-bottom:  306px;
}
#LinkTo3{
  font-family: Halant;
  margin-left: 25%;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-decoration-line: underline;
  text-align: center;
  padding-bottom:  306px;
}
#BoxMonth1{
font-family: Amatic SC;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 45px;
text-align: center;
}
#BoxMonth2{
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  font-size: 26px;
  line-height: 45px;
  text-align: center;
}
#BoxMonth3{
  font-family: Amatic SC;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 45px;
  text-align: center; 
}
#ColPaddingZero {
  padding:0px;
}
#ContainerWindow {
  border:0px;
  margin-right:0;
  margin-left:0;
  max-width:100%;
}
